%html
  %head
    %title

  %body{style: "text-align: center"}
    = "Title:"
    = link_to "#{@title}", @content.url
    %br
    = "Tags:"
    = @tags
    %br
    = "-#{@content.user.public_profile.name.titleize}"
    - if @content.user.public_profile.twitter_handle.present?
      = "(@#{@content.user.public_profile.twitter_handle})"
    %br
    %br
    %div{ style: "position: relative; overflow: hidden; min-height: 215px;"}
      = link_to image_tag(attachments['screamout.jpg'].url), @content.url
    %br
    = link_to "Visit Here for more content", "#{HOST_URL}/screamout/contents"
